apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-portfolio-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-portfolio
  template:
    metadata:
      labels:
        app: devops-portfolio
    spec:
      containers:
      - name: portfolio-container
        image: python:3.10-slim
        command: ["python", "-c", "print('Hello from Kubernetes')"]
        resources:
          limits:
            memory: "128Mi"
            cpu: "250m"
